.git/
.gitignore
.vscode/
.idea/
*.bak
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
ENV/

*.log
*.sqlite
*.db

dist/
build/
*.egg-info/
*.egg

tests/
test/
coverage/
.pytest_cache/

docker-compose.yml
docker-compose.*.yml
Dockerfile.dev

*.zip
*.tar
*.gz

data/*.json
!data/.keep  # если хотим сохранить пустую директорию

*.md